<html
        xmlns:sg="http://typo3.org/ns/MoveElevator/Styleguide/ViewHelpers"
        xmlns:f="http://www.w3.org/1999/XSL/Transform"
        data-namespace-typo3-fluid="true"
>

<f:asset.css identifier="typo3styleguide_element_css" href="EXT:typo3_styleguide/Resources/Public/Css/Patterns.css"/>
<f:asset.script identifier="typo3styleguide_element_js" src="EXT:typo3_styleguide/Resources/Public/JavaScript/copy.js" />


<div class="typo3-styleguide__frame">
    <div class="typo3-styleguide__element-container typo3-styleguide__element-container--icons">
        <f:for each="{sg:files(path: data.tx_typo3styleguide_icons_path)}" as="file">
            <div class="typo3-styleguide__element typo3-styleguide__element--icon" data-copy="{file -> sg:format.filename()}" role="button" tabindex="0" aria-label="Copy icon name">
                <div class="typo3-styleguide__image typo3-styleguide__icon">
                    <div class="typo3-styleguide__image-box">
                        <img src="{f:uri.resource(path: '{data.tx_typo3styleguide_icons_path}{file}')}" alt="{file}"/>
                    </div>
                </div>
                <div class="typo3-styleguide__element-caption">
                    <p class="typo3-styleguide__image-caption-text">
                        {file -> sg:format.filename()}
                    </p>
                </div>
            </div>
        </f:for>
    </div>
</div>
