<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{pages}">
    <nav class="typo3-styleguide-toc typo3-styleguide-toc--{data.tx_typo3styleguide_tableofcontents_layout}">
        <f:switch expression="{data.tx_typo3styleguide_tableofcontents_layout}">
            <f:case value="cards">
                <f:render partial="TableOfContents/Cards" arguments="{pages: pages}" />
            </f:case>
            <f:defaultCase>
                <f:render partial="TableOfContents/List" arguments="{pages: pages}" />
            </f:defaultCase>
        </f:switch>
    </nav>
</f:if>

</html>
